## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
  - windows
julia:
  - 1.0
  - 1.3
  - nightly
notifications:
  email: false
git:
  depth: 99999999

## uncomment the following lines to allow failures on nightly julia
## (tests will run but not make your overall status red)
matrix:
  allow_failures:
    - julia: 1.3
    - julia: nightly

#jobs:
#  include:
#    - stage: deploy
#      julia: 1.0
#      os: linux
#      script:
#        - julia -e 'import Pkg; Pkg.clone(pwd()); Pkg.build("Augmentor")'
#        - julia -e 'import Pkg; Pkg.add("Documenter")'
#        - julia -e 'import Augmentor; ENV["DOCUMENTER_DEBUG"] = "true"; include(joinpath("docs","make.jl"))'

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())'
