.list-card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.list-card {
    width: 800px;
    max-height: 250px;
    margin: 25px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.list-card-text {
    padding: 10px 5px;
    font-style: oblique 40deg;
    font-size: large;
}

img[alt="list-card-cover-image"] {
    width: 100%;
}

.list-card-cover {
    width: 140px;
    max-height: 160px;
    padding: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.list-card-description {
    width: 550px;
    max-height: 250px;
    line-height: 1.5;
}
